<!DOCTYPE html>
<html lang="cs" dir="ltr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />  
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="revisit-after" content="3 days" />
        <meta name="robots" content="all,index,follow" />
        <meta name="author" content="SEO optimalizace s.r.o." />
        <meta name="copyright" content="SEO optimalizace s.r.o." /> 
        <title>{ifset title}{include title|striptags} | {/ifset} Admin</title>
        <meta name="description" content="#" />
        <meta name="keywords" content="#" />	
        <!--Styly-->
        {block styles}
        <link rel="stylesheet" type="text/css" href="{$basePath}/admin/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/admin/css/admin.css" />
        {/block}
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script>window.html5 || document.write('<script src="{$basePath}/admin/js/html5shiv.js"><\/script>')</script><![endif]-->
    </head>
    <body id="body"><!--[if lt IE 8]><p class="browserupgrade">Používáte <strong>zastaralý</strong> Prohlížeč. Prosíme <a href="http://browsehappy.com/">aktualizujte svůj prohlížeč</a>.</p><![endif]-->
        {block scripts}
        <!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{$basePath}/admin/js/jquery-2.1.4.min.js"><\/script>')</script>
        <!--Bootstrap-->
        <script src="{$basePath}/admin/js/bootstrap.min.js"></script>
        <!--Nette-->
        <script type="text/javascript" src="{$basePath}/admin/js/nette.ajax.js"></script>
        <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
        <script type="text/javascript" src="{$basePath}/admin/js/filemanager/tinymce/tinymce.min.js"></script>
        {/block}

        <nav id="menu" class="navbar navbar-fixed-top">
            <div>
                <div class="navbar-header">
                    <a n:href=":Front:Homepage:default"><img src="{$basePath}/admin/img/logo.png" title="" id="menu-logo2"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <div id="nav-in" class="container-in nav navbar-nav" style="float:right;margin:0 20px 0 0;">
                        <div class="nav">
                            <div class="nav-in">
                                {if $user->isLoggedIn()}
                                    <ul id="identify">
                                        <li style="margin:10px 0;"><a n:href="Dashboard:default">{_admin.dashboard}</a></li>
                                        <li><a n:href="Sign:out">{_admin.logOut} <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span></a></li>
                                    </ul>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <div class="container-fluid">  
            <div class="container white">            
                <div id="wrapper">
                    {snippet flash}
                        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                    {/snippet}

                    {include content}

                </div>
            </div></div>
        <script type="text/javascript">
            tinymce.init({
                entity_encoding: "raw",
                relative_urls: false,
                selector: ".wysiwygFull",
                language: "cs",
                height: "350px",
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
                    "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
                ],
                toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
                toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor  | print preview code ",
                image_advtab: true,
                external_filemanager_path: "/js/filemanager/filemanager/",
                filemanager_title: "Souborový správce",
                external_plugins: {"filemanager": {$basePath} + "/admin/js/filemanager/filemanager/plugin.min.js"}
            });
            $(function () {
                $.nette.init();
            });
        </script>
    </body>
</html>
