<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="revisit-after" content="3 days">
        <meta name="robots" content="all,index,follow">
        <meta name="author" content="SEO optimalizace s.r.o.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Ikony-->
        <link rel="apple-touch-icon" href="{$basePath}/img/logo.png">
        <link rel="shortcut icon" href="{$basePath}/img/logo.png" type="image/x-icon">
        <!--Styly-->
        <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/slimbox2.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$basePath}/css/style-app.css">
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script>window.html5 || document.write('<script src="{$basePath}/js/html5shiv.js"><\/script>')</script><![endif]-->
    </head>
    <body><!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>    <![endif]-->
        <nav id="menu" class="navbar navbar-fixed-top">
            <div>
                <div class="navbar-header">
                    <a n:href="Dashboard:default"><img src="{$basePath}/img/logo.png" title="" id="menu-logo2" class="visible-xs"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <div id="nav-in" class="container-in nav navbar-nav">
                        <div class="nav">
                            <div class="nav-in">
                                <ul>
                                    {if $user->isLoggedIn()}
                                        <li><a n:href="Dashboard:default"><img src="{$basePath}/img/logo.png" title="" id="menu-logo" class="hidden-xs"></a></li>
                                        <li><a href="#">Přehled</a></li>
                                        <li><a href="#">Faktury</a></li>
                                        <li><a href="#">Adresář</a></li>
                                        <li><a href="#">Vzory</a></li>
                                        <li><a href="#">Nastavení</a></li>
                                        <li><a n:href="Sign:out">Odhlásit se</a></li>
                                        {else}
                                        <li style="margin:10px;"><a n:href="Sign:in">Login</a></li>
                                        {/if}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

                                
          

        <div class="container-fluid">


            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

            {include content}
            <div class="clr"></div>
        </div>

            <p class="copy">(c) copyright 2016 by <a href="http://www.seooptimalizacesro.cz/" title="Tvorba www stránek Praha | Responzivní weby a SEO optimalizace">SEO optimalizace</a> s.r.o.  |  Všechna práva vyhrazena.</p>

        <!--<div id="scroll"><a href="#" class="button blue">HELPDESK</a><div class="clr"></div></div>
        <nav id="menu2" class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="col-xs-2 col-sm-4"><a href="mailto:helpdesk@domytax.cz" title="Napsat e-mail"><img src="{$basePath}/img/mail.png"><span class="hidden-xs">helpdesk@domytax.cz</span></a></div>
                <div class="col-xs-2 col-sm-4"><a href="callto:+420 777 123 456" title="Vytočit podporu"><img src="{$basePath}/img/phone.png"><span class="hidden-xs">+420 777 123 456</span></a></div>
                <div class="col-xs-8 col-sm-4"><a href="#" class="button darkblue">ZPRACOVAT DPH</a></div>
            </div>
        </nav>-->

        {block scripts}
        <!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-2.1.4.min.js"><\/script>')</script>

        <!--Bootstrap-->
        <script src="{$basePath}/js/bootstrap.min.js"></script>

        <!--Nette-->
        <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
        <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
        {/block}
    </body>
</html>