{var $robots = noindex}
{block content}
<div id="prihlas">
<h1 n:block="title">Admin Sign in</h1>

{form signInForm class=>'form-inline'}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    {label username/}{input username class=>'form-control'}<br>
    {label password/}{input password class=>'form-control'}<br>
    {label send/}{input send class=>'form-control button darkblue'}
{/form}

</div>

<style>
#prihlas { width:350px;margin:35px auto;display:block;background:#fff;padding:5px 25px 25px;}
#prihlas label { width:100px;}
#prihlas input{ margin:0 0 10px;}

</style>