{block content}
<style>
    th{ padding:3px; text-align:center;}
    td{ padding:3px; text-align:center;}
</style>
<h1>{_admin.clientList}</h1>

{*control filter*}
{*control simpleFilter*}

<table>
    {form simpleFilter}
        <tr>
            <th style="text-align:left;">{_admin.companyName}</th>
            <th>{_admin.isVat}{input isVat}</th>
            <th>{_admin.organizationId}</th>
            <th>{_admin.payerVat}{input payerVat}</th>
            <th>{_admin.companyType}{input companyType}</th>
            <th>{_admin.tariff}{input tariff_id}</th>
            {if $admin->role!="accountant"}<th>{_admin.accountant}{input admin_id}</th>{/if}
        </tr>
    {/form}

    {foreach $profiles as $profile}

        {form row-$profile->id}
            <tr>
                <td style="text-align:left;"><a n:href="Profile:detail id=>$profile->id">{$profile->compName}</a><br>({if $profile->referalHash}{$profile->referalHash}, {/if}{$profile->loginEmail})</td>
                <td>{if $profile->isVat===NULL}?{elseif $profile->isVat==1}{_admin.payerVat}{else}{_admin.nonpayerVat}{/if}</td>
                <td>{$profile->orgId}</td>
                <td>{if $profile->payerVat==2}{_admin.payerVat}{elseif $profile->payerVat==1}{_admin.nonpayerVat}{else}---{/if}</td>
                <td>{if $profile->companyType==2}{_admin.company}{elseif $profile->companyType==1}{_admin.selfEmployed}{else}---{/if}</td>
                <td>{input tariff_id class=>'form-control'}</td>
                {if $admin->role!="accountant"}<td>{input admin_id class=>'form-control'}</td>{/if}
                <!--<td>{input save class=>'btn darkblue'}</td>-->
            </tr>
        {/form}


    {/foreach}
</table>

<a n:href="Dashboard:export" class="btn blue">{_admin.export}</a><br><br>


{/block}
